footer.site-footer {
    margin-top: 2rem;
    padding: 1.2rem 0;
    background: #262626;
    width: 100%;
}

footer.site-footer p {
    margin: 0;
    padding: 0;
}

footer.site-footer p,
i {
    color: white;
    text-align: center;
    font-size: 1.8rem;
}
