<nav>
  <ul class="contenedor-social-media">
    <li class="icon-social">
      <a href="https://www.facebook.com/luisangel.sevilla.3/"
        ><i class="fab fa-facebook-f"></i
      ></a>
    </li>
    <li class="icon-social">
      <a><i class="fab fa-twitter"></i></a>
    </li>
    <li class="icon-social">
      <a><i class="fab fa-tiktok"></i></a>
    </li>
    <li class="icon-social">
      <a><i class="fab fa-youtube"></i></a>
    </li>
    <li class="icon-social">
      <a href="https://www.instagram.com/luisangel.sevilla.3/"
        ><i class="fab fa-instagram" (click)="shareSocialNetwork()"></i
      ></a>
    </li>
  </ul>
</nav>
