<div class="contenedor-after-nav">
  <div class="steps contenedor">
    <h2>Step 1 (creating the DB storing your match)</h2>

    <div class="istructions-stes">
      <div class="img-instr">
        <img src="../../assets/images/steps/firebasestep1.png" alt="" />
      </div>

      <div class="txt-instr">
        <p>
          Go to
          <span
            ><a href="https://firebase.google.com/">firebase.com</a> Create an
            account with your gmail account</span
          >
        </p>
      </div>
    </div>

    <div class="istructions-stes">
      <div class="img-instr">
        <img src="../../assets/images/steps/firebasestep1.png" alt="" />
      </div>

      <div class="txt-instr">
        <p>
          Go to
          <span
            ><a href="https://firebase.google.com/">firebase.com</a> Create an
            account with your gmail account</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
